# Created by .ignore support plugin (hsz.mobi)
.vscode
.idea
__debug_bin*
*.pdf
bin
upx
go2
*.exe
fyne_metadata_init.go
fyne.syso
goodlink.json
*.7z
*.zip
config.json
*.upx
debug.sh
*.dll
*.syso
.claude
tun
goodlink-windows-amd64
goodlink.log
